body {display: flex; justify-content: center; height: 100vh; background: #F5F5F5;}
#wrap {display: flex; justify-content: center; margin-top: 100px; width: 30vw; height: 50vh; flex-direction: column;}
header {display: flex; flex-direction: column; align-items: center; width: inherit;}

/* object */
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 50px 16px 50px;
  border: unset;
  font-size: 20px;
}
input[type=text]:focus {
  outline: none;
  border-color: red;
}
input[type=text]:disabled {
  background: #fff;
  color: #000;
}
input[type=text]::placeholder {
  font-style: italic;
  font-size: 20px;
  color: #E5E5E5;
}

/* style */
header {border-bottom: 1px solid #ededed;}
header h1 {font-size: 60px; color: #EAD7D7; font-weight: 600; margin-bottom: 30px; }
section > ul > li {background: #fff; border-bottom: 1px solid #ededed;}
section > ul > li > div.view {
  /* padding: 16px 50px 16px 50px; */
  font-size: 20px;
}
